body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
}
/* Tela 3.1 - Info básica do Quiz */
body {
  /* background-color: #E5E5E5; */
  width: 100%;
  background-color: rgba(229, 229, 229, 0.4);
}

.basic-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #E5E5E5; */
}

.info-title {
  width: 195px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 106px 0 29px 0;
  font-size: 20px;
  font-weight: 700;
}
.basic-info form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 375px;
  height: 256px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  padding: 21px 0 15px 0;
  margin-bottom: 29px;
}
.info input {
  width: 341px;
  height: 46px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 9px;

  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.info input::placeholder {
  font-style: italic;
  color: #bababa;
  padding-left: 14px;
}

.info-button {
  width: 341px;
}

.info-button button {
  width: 100%;
  height: 54px;
  background-color: #ec362d;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 15px;
  border: none;
}

/* Tela 3.2 - Perguntas do Quiz */
.quiz-questions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quiz-title {
  width: 195px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 106px 0 29px 0;
  font-size: 20px;
  font-weight: 700;
}

.quiz-questions form {
  width: 375px;
}
.question-form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.question,
.question-right-answer,
.question-wrong-answer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.question > div,
.question-right-answer > div,
.question-wrong-answer > div {
  width: 341px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.question-info input {
  width: 341px;
  height: 46px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 14px;

  border: 1px solid #d1d1d1;
  border-radius: 5px;
}

.question-info input::placeholder {
  font-style: italic;
  color: #bababa;
  padding-left: 14px;
}

.quiz-questions form span {
  width: 90%;
  display: block;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
}

.question-info span {
  padding-top: 15px;
  padding-bottom: 12px;
}

.question-label {
  width: 100%;
  height: 74px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 22px 0 11px 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}

.question-label span {
  margin-left: 17px;
}

.question-label button {
  border: none;
  background: transparent;
  outline: none;
}

.question-label ion-icon {
  width: 26px;
  height: 23px;
  margin-right: 17px;
}

.question-wrong-answer > div {
  margin-bottom: 18px;
}
.quiz-button {
  width: 341px;
}
.quiz-button button {
  width: 100%;
  height: 54px;
  background-color: #ec362d;
  color: #ffffff;
  margin: 28px 0 61px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 15px;
  border: none;
}
/* Tela 3.3 - Níveis do Quiz */
.quiz-levels {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.levels-title {
  width: 100%;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 106px 0 29px 0;
  font-size: 20px;
  font-weight: 700;
}
.level-title-1{
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-left: 50px; */
}
.levels-form {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.level-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: 22px;
}
.level {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.level > div {
  width: 341px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.level-info input,
.level-info textarea {
  width: 341px;
  height: 46px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 14px;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
}
.level-info textarea {
  height: inherit;
  font-family: "Roboto", sans-serif;
}
.level-info input::placeholder,
.level-info textarea::placeholder {
  font-style: italic;
  color: #bababa;
  padding-left: 14px;
}
.levels-form span {
  width: 90%;
  display: block;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
}
.level-info span {
  padding-top: 15px;
  padding-bottom: 12px;
}
.levels-label {
  width: 375px;
  height: 74px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-top: 11px; */
  margin-bottom: 22px;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
}
.levels-label span {
  margin-left: 17px;
}
.levels-label button {
  border: none;
  background: transparent;
  outline: none;
}
.levels-label ion-icon {
  width: 26px;
  height: 23px;
  margin-right: 17px;
}
.levels-button {
  width: 341px;
}
.levels-button button {
  width: 100%;
  height: 54px;
  background-color: #ec362d;
  color: #ffffff;
  margin: 28px 0 61px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 15px;
  border: none;
}
/* Tela 3.4 - Sucesso do Quiz  */
.quiz-success {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.success-title {
  width: 100%;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 106px 0 29px 0;
  font-size: 20px;
  font-weight: 700;
}
.sucess-image {
  position: relative;
  width: 340px;
  height: 181px;
  margin-bottom: 15px;
}
.sucess-image img {
  position: absolute;
  width: 100%;
  height: 100%;
}
.success-quiz-title {
  color: #ffffff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 0;
}
.success-quiz-title {
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: 17px;
  
}
.sucess-button button, .sucess-return button{
  width: 220px;
  height: 44px;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 15px;
  border: none;
  margin-top: 9px;
  border: none;
  background: transparent;
  outline: none;
  background-color: #ec362d;
  color: #ffffff;
} 
.sucess-return button{
  background-color: inherit;
  color: #818181;
}
body input[value=""]{
  color: red;
}
/* .sucess-button,
.sucess-return {
  width: 341px;
  height: 54px;
}
.sucess-button button,
.sucess-return button{
  width: 100%;
  height: 54px;
  margin: 28px 0 61px 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  border-radius: 15px;
  border: none;
}
*/


.hidden {
  display: none;
}

.header {
  font-size: 37px;
  font-weight: 700;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #ec362d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-none-quizzes {
  width: 1050px;
  height: 181px;
  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 146px;
  margin-bottom: 25px;
}
.display-lists {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.none-quizzes-alert {
  width: 250px;
  height: 107px;
  font-weight: 400;
  font-size: 20px;
  color: #b9b9b9;
  line-height: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.button-create-quizz {
  width: 151px;
  height: 40px;
  color: #ec362d;
  font-size: 21px;
  font-weight: 400;
  line-height: 25px;
  border: 1px dashed #ec362d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 36px;
}
.user-quizzes {
  width: 1065px;
  display: flex;
  flex-direction: column;
  margin-top: 146px;
  margin-left: 15px;
}
.title-user-quizzes {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
}
.title-user-quizzes ion-icon {
  font-size: 30px;
  margin-left: 17px;
  box-sizing: border-box;
  color: #ec362d;
}
.user-quizzes-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.test-quizz {
  background-color: #ec362d;
  }


.quizz {
  border-radius: 5px;
  width: 340px;
  height: 181px;
  margin: 10px 15px 12px 0px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.all-quizzes {
  width: 1066px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 15px;
}
.all-quizzes-list {
  display: flex;
  flex-wrap: wrap;
}
.title-all-quizzes {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
}




.hidden {
  display: none;
}


.quizz-image{
    position: absolute;
    width: 340px;
    height: 181px;
    border-radius: 5px;
    top: 0;
    left: 0;
    z-index: -2;
}

.quizz-image-gradient{
  position: absolute;
  width: 340px;
  height: 181px;
  border-radius: 5px;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
  z-index: -1;
}

.quizz p{
    width: 309px;
    height: 54px;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 18px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-word;
}

.title-in-quizz{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  height: 227px;
  width: 100%;
  margin-top: 69px;
}

.title-in-quizz img{
  height: 227px;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
}

@media (max-width: 1100px) {
  .user-none-quizzes {
    width: 90.6vw;
  }

  .user-quizzes {
    width: 90.6vw;
    margin-left: 0px;
  }

  .user-quizzes-list{
    display: initial;
  }

  .all-quizzes-list{
    display: initial;
  }

  .all-quizzes {
    width: 90.6vw;
    margin-left: 0px;
  }

  .test-quizz {
    margin-right: 0px;
  }

  .quizz-image{
    width: 90.6vw;
    object-fit: cover;
    object-position: center;
  }

  .quizz-image-gradient{
    width: 90.6vw;
  }
}
